@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;900&display=swap');

*{
	margin:0;
	padding:0;
	outline:0;
}
a, a:hover{
	list-style-type: none;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, ul, ol, button, input, p{
	margin:0;
	padding:0;
}
body{
	font-size: 17px;
}
.bg-primary{
	background-color: #fff!important;
}
.bg-yellow{
	background-color: #ffcb0f;
}
/*====================================================*/
/*                    Hero Image                      */
/*====================================================*/
.hero-image{
	background: url("../img/hero-image.png");
	width: 100%;
	height: 100%;
	background-position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
/*====================================================*/
/*                     Welcome Area                   */
/*====================================================*/
.welcome-bg{
	background: url("../img/welcome-blur.png");
	width: 100%;
	height: 100%;
	background-position: absolute;
	background-repeat: no-repeat;
	margin: 0 auto;
}
/*====================================================*/
/*                  Why Choose Us Area                */
/*====================================================*/
/* .why-choose-us{
	background-color: #f2f7fa;
	z-index: -1000;
} */
.circle-col{
	/* border: 2px solid #000; */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "overlap";
}
.circle-1{
	background-color: #ffcb0f;
	width:200px;
	height:200px;
	border-radius: 50%;
	opacity: 20%;
	grid-area: overlap;
	align-self: center;
	justify-self: center;
	z-index: -50;
}
.circle-2{
	background-color: #ffcb0f;
	width:180px;
	height:180px;
	border-radius: 50%;
	opacity: 40%;
	grid-area: overlap;
	align-self: center;
	justify-self: center;
	z-index: -40;
}
.circle-3{
	background-color: #ffcb0f;
	width:160px;
	height:160px;
	border-radius: 50%;
	opacity: 60%;
	grid-area: overlap;
	align-self: center;
	justify-self: center;
	z-index: -30;
}
.circle-4{
	background-color: #ffcb0f;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	opacity: 80%;
	grid-area: overlap;
	align-self: center;
	justify-self: center;
	z-index: -20;
}
.circle-5{
	background-color: #fff!important;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	opacity: 100%;
	grid-area: overlap;
	align-self: center;
	justify-self: center;
	z-index: -20;
}
.circle-6{
	grid-area: overlap;
	align-self: center;
	justify-self: center;
	z-index: -10;
}
.circle-6 i{
	font-size: 50px;
}
.circle-col h4{
	justify-self: center;
}
.circle-col p{
	align-self: center;
	justify-self: center;
}